<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre cliente:</strong>
  <%= @cliente.nombre_cliente %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @cliente.rfc %>
</p>

<button type="button" class="btn btn-default"><%= link_to 'Regresar', clientes_path %></button>

<button type="button" class="btn btn-default"><%= link_to 'Editar', edit_cliente_path(@cliente) %> </button>