<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nombre productos</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre_productos %></td>
        <td><%= producto.precio %></td>
        <td><%= link_to 'Visualizar', producto %></td>
        <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
        <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'Seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn_primary btn_lg btn_block"><%= link_to 'Nuevo Producto', new_producto_path %> </button>
