<%= form_with(model: ordene, local: true) do |form| %>
  <% if ordene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ordene.errors.count, "error") %> prohibited this ordene from being saved:</h2>

      <ul>
      <% ordene.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :cliente_id %>
    <%=form.select :cliente_id,Cliente.all.collect {|x|[x.nombre_cliente, x.id]},{:include_blank => "Selecciona un cliente"}%>
  </div>

  <div class="field">
    <%= form.label :numero_de_orden %>
    <%= form.number_field :numero_de_orden %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :producto_id %>
    <%=form.select :producto_id,Producto.all.collect {|x|[x.nombre_productos, x.id]},{:include_blank => "Selecciona un producto"}%>
  </div>


  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad%>
  </div>

  <div class="field">
    <%= form.label :precio_venta %>
    <%= form.number_field :precio_venta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
