<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @ordene.cliente_id %>
</p>

<p>
  <strong>Numero de orden:</strong>
  <%= @ordene.numero_de_orden %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ordene.fecha %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @ordene.producto_id %>
</p>

<button type="button" class="btn btn-default"><%= link_to 'Regresar', ordenes_path %></button>

<button type="button" class="btn btn-default"><%= link_to 'Editar',  edit_ordene_path(@ordene) %> </button>


